<div class="container">
  <form (submit)="onSubmit()">
    <ra-airports
      [options]="options"
      (fromChanged)="onFromChanged($event)"
      (toChanged)="onToChanged($event)"
      [from]="payload?.from"
      [to]="payload?.to"></ra-airports>

    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input type="text" [(ngModel)]="payload.startDate" class="form-control" id="startDate" name="startDate" required>
    </div>
    <div class="form-group">
      <label for="endDate">End Date</label>
      <input type="text" [(ngModel)]="payload.endDate" class="form-control" id="endDate" name="endDate" required>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
