:host {
  display: block;
  position: relative;
  ul {
    background: #fff;
    width: 100%;
    position: absolute;
    top: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    max-height: 25.8rem;
    overflow: auto;
    z-index: 10;

    li {
      padding: 6px 12px;

      &:hover, &.active {
        background: #ccc;
      }
    }
  }
}
